body {
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.suptitle-left {
  font-style: normal;
  font-weight: normal;
  font-size: 2.2em;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
}
