@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  font-size: 10px;
}

.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

.slider-item {
  color: #ffffff;
  text-transform: uppercase;

  &__info {
    position: absolute;
    right: 80px;
    bottom: 115px;
    text-align: right;

    &-suptitle {
      margin-bottom: 5px;
    }

    &-title,
    &-text {
      font-style: normal;
      font-weight: 800;
      font-size: 8em;
      line-height: 86px;
    }

    &-title {
      margin-bottom: 48px;
    }

    &-text {
      font-size: 4em;
    }
  }
}

@import "media";
