@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 1024px;

  &__slider {
    &-item {
      height: 1024px;
      background-image: url("../img/header_bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 20em;
    line-height: 156px;
    mix-blend-mode: normal;
    opacity: 0.07;
    max-width: 467px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 1024px;
    z-index: 4;
    border-right: 1px solid rgba($color: #fff, $alpha: 0.25);
  }

  &__location {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1.05px;
    padding-top: 30px;
    text-transform: capitalize;

    &::before {
      content: url(../img/marker.svg);
    }
  }

  &__search {
    text-align: center;
    padding-top: 38px;
  }

  &__date {
    padding-top: 20px;
  }

  &__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }

  &__arrow {
    position: absolute;
    left: 210px;
    bottom: 30px;
    z-index: 3;
  }
}

.slider-item {
  &__info {
    position: absolute;
    right: 4.204%;
    bottom: 115px;
    text-align: right;

    &-suptitle {
      margin-bottom: 5px;
    }

    &-title,
    &-text {
      font-style: normal;
      font-weight: 800;
      font-size: 8em;
      line-height: 86px;
    }

    &-title {
      margin-bottom: 48px;
    }

    &-text {
      font-size: 4em;
    }
  }
}

.slider-dotshead {
  position: absolute;
  right: 2.6%;
  bottom: 40px;
  max-width: 920px;
  width: 100%;

  .slick-current {
    .dots-box {
      border-color: $green;
    }
  }
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  border-top: 4px solid #fff;

  &__number {
    font-weight: 800;
    font-size: 2.4em;
    line-height: 34px;
  }

  &__name {
    font-weight: 300;
    font-size: 1.6em;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.date {
  text-align: center;
  width: 81px;
  margin: auto;

  &__day {
    font-weight: 800;
    font-size: 7.2em;
    line-height: 64px;
    text-transform: uppercase;
  }

  &__month,
  &__year {
    display: inline-block;
    font-weight: 300;
    font-size: 1.6em;
    line-height: 19px;
    letter-spacing: 1.4px;
  }

  &__month {
    width: 30px;
    text-align: left;
    border-right: 1px solid #fff;
  }

  &__year {
    text-align: right;
    width: 40px;
  }
}

.menu {
  text-align: center;
  margin-top: 55px;

  &__list {
    padding: 0;
  }

  &__link {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 14px;
    letter-spacing: 3px;
    padding-top: 37px;
  }

  &__text {
    display: block;
    padding-top: 6px;
    text-transform: capitalize;
  }
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: linedash 3s infinite 6s;
}

@keyframes linedash {
  from {
    stroke-dashoffset: 600;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  padding: 160px 0 120px;
  background-image: url(../img/big_point.svg);
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: auto;

  &__subtitle {
    text-align: right;
    padding-right: 4.204%;
    margin-top: -86px;
  }

  &-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
      min-height: 750px;
      background: rgba(#1c2121, 0.85);
      position: relative;
      transition: all 0.5s ease;

      &:hover {
        background: rgba(#1c2121, 0.3);

        .surf-box__inner-btn {
          display: block;
        }
      }

      &-title {
        font-weight: 800;
        font-size: 4em;
        line-height: 36px;
        padding: 72px 0 0 40px;
        width: 140px;
      }

      &-location {
        font-size: 1.8em;
        line-height: 22px;
        letter-spacing: 8px;
        font-weight: normal;
        width: 0;
        height: 0;
        transform: rotate(-90deg);
        position: absolute;
        left: 40px;
        bottom: 80px;
        white-space: nowrap;
      }

      &-btn {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        display: none;
      }
    }
  }

  &-slider {
    padding-top: 110px;

    .slick-arrow {
      top: 50px;
      opacity: 0.25;
    }

    .slick-slide:nth-child(4n + 1) {
      .surf-box {
        margin-top: 32px;
        z-index: 1;
      }
    }
    .slick-slide:nth-child(4n + 2) {
      .surf-box {
        z-index: 2;
      }
    }

    .slick-slide:nth-child(4n + 3) {
      .surf-box {
        margin-top: 89px;
        margin-left: 0;
      }
    }
    .slick-slide:nth-child(4n + 4) {
      .surf-box {
        z-index: 4;
      }
    }

    .slick-current {
      .surf-box__inner {
        background: rgba(#1c2121, 0.3);

        &-btn {
          display: block;
        }
      }
    }
  }

  &__span {
    font-weight: 100;
  }
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url("../img/world-map-dots.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.slider-dots {
  position: relative;
  min-height: 635px;

  &__circle {
    width: 24px;
    height: 24px;
    background-color: $green;
    border-radius: 50%;
  }

  &__content {
    display: none;
  }

  &__1 {
    top: 330px;
    left: 0;
  }

  &__2 {
    top: 270px;
    left: 0;

    .slider-dots__circle {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-image: url(../img/map-point.svg);
        width: 14px;
        height: 17px;
        background-size: cover;
        right: -25px;
        top: -15px;
      }
    }
  }

  &__3 {
    top: 320px;
    left: 25px;
  }

  &__4 {
    top: 470px;
    left: -25px;
  }

  &__5 {
    top: 230px;
    left: -65px;
  }

  &__6 {
    top: 560px;
    left: -120px;
  }

  &__7 {
    top: 375px;
    left: -95px;
  }

  &__8 {
    top: 470px;
    left: 35px;
  }
}

@import "media";
